.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home > .TextContainer {
  text-align: center;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MenuButton {
  position: fixed;
  width: 300px;
  height: 40px;
  cursor: pointer;
}

.topLeft {
  top: 15vh;
  left: 20px;
}

.topRight {
  top: 15vh;
  right: 20px;
}

.bottomLeft {
  bottom: 15vh;
  left: 20px;
}

.bottomRight {
  bottom: 15vh;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .Home > .TextContainer {
    position: static;
    width: auto;
    transform: none;
  }

  .MenuButton {
    position: relative;
    width: 80%;
    margin: 10px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .Home > .TextContainer {
    width: 90vw;
  }

  .MenuButton {
    width: 90%;
  }
}
