.Home {
    
}
  
.Home > .GreetingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
.Home > .GreetingContainer > .Greeting {
    text-align: center;
    font-size: 10vh;
  }
  