.ProjectsCards {
    margin: 10px;
    padding: 10px;
    width: 300px;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    background-color: #E8E8E8;
}

.ProjectsCards:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ProjectsCards > img {
    width: 280px;
    border-radius: 10px;
}

.ProjectsCards .ProjectCardButton {
    width: 280px;
    position: relative;
}

.ProjectsCards .ReadMore {
    width: 100px;
    background-color: #263238;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: #F2F2F2;

}
