.AboutMe {
    height: 70vh;
    color: #333333;
    font-weight: bolder;
    margin: auto;
    width: 70vw;
  }
  
  .AboutMe h2 {
    margin-bottom: 1rem;
  }
  
  .AboutMe img {
    width: 30vw;
    margin-right: 2rem;
  }
  
  .AboutMe > p {
    margin-bottom: 1rem;
  }
  