.AboutMe {
    height: 70vh;
    width: 80vw;
    color: #333333;
    font-weight: bolder;
    margin: auto;
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
  }
  
  .AboutMe h2 {
    margin-bottom: 1rem; /* Add margin to create space below the header */
  }
  
  .ContentContainer {
    display: flex;
    flex-direction: row;
  }
  
  .AboutMe img {
    height: 30vh;
    margin-right: 2rem;
  }
  
  .TextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .TextContainer > p {
    margin-bottom: 1rem;
  }
  